@import '~antd/es/style/themes/default.less';
.secret-table{
  .anticon {
    cursor: pointer;
    color: @primary-color;
  }
    .right-box{
    float: right;
    color: @primary-color;
    .anticon{
      margin-right: 8px;
    }
  }

  .anticon-edit{
    color: @primary-color;
    margin-right: 8px;
  }
  .anticon-delete{
    color: @error-color;
  }
}
